.Groups {
	padding: 20px;
	overflow: scroll;
	.table-wrapper {
		overflow: scroll;
		table {
			tbody {
				tr {
					cursor: pointer;
					transition-duration: 0.1s;
					&:hover {
						background: #bdbdbd;
					}
					&:active {
						background: #ababab;
					}
				}
			}
		}
	}
}
