.Group {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #facd60;
	background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100px, rgba(250, 205, 96, 1) 100px);
	width: 100%;
	min-height: 100vh;
	color: black;

	.area {
		display: flex;
		width: 100%;
		margin-bottom: 30px;
		z-index: 1;

		section {
			width: 700px;
			margin: 10px auto;
			padding: 30px;
			background-color: #ffffff;
			box-shadow: 0 0 30px -10px;
			border-radius: 30px;

			@media (max-width: 900px) {
				width: 400px;
			}

			@media (max-width: 500px) {
				width: 100%;
				margin: 0;
				padding: 10px;
				box-shadow: 0 0 0 0;
				border-radius: 0;
			}

			.top {
				display: flex;
				justify-content: space-between;
			}

			.group-title {
				font-size: 1.8rem;
				font-weight: bolder;
			}

			.content {
				display: flex;

				@media (max-width: 900px) {
					flex-direction: column;
					width: 100%;
				}

				@media (max-width: 500px) {
					flex-direction: column;
					width: 100%;
				}
				.dashboard-wrapper {
					flex-grow: 1;
					.dashboard {
						position: sticky;
						top: 10px;

						> :not(:first-child) {
							margin-top: 30px;
						}
					}
				}

				#receipts {
					flex-grow: 1;
					margin: 10px;

					.addButton {
						width: 100%;
						padding: 10px;
						margin-bottom: 10px;
					}
				}
			}
		}
	}

	.card {
		width: 350px;
		margin: 10px;
	}

	.add-card {
		width: 100%;
	}
}
