.Group {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: #facd60;
	width: 100%;
	min-height: 100vh;
	font-size: 12px;
	color: black;

	header {
		position: relative;
		vertical-align: center;
		text-align: center;
		height: 160px;
		display: flex;
		border-bottom: 1px solid gray;
		background-color: #ffffff;

		#brand {
			color: #facd60;
			display: block;
			margin: 30px;
			font-size: 1.3rem;
		}
	}

	section {
		margin: 80px 0 0 0;
		position: absolute;
		display: flex;
		flex-direction: row;
		width: 100%;

		.empty {
			flex-grow: 1;
		}

		article {
			margin: 10px;
			padding: 50px 30px 30px 30px;
			background-color: #ffffff;
			box-shadow: 0 0 30px -10px;
			border-radius: 30px;

			.EditableTextView {
				font-size: 1.8rem;
			}

			& > div {
				flex-grow: 0;
				display: flex;
			}
		}
	}

	.card {
		width: 300px;
		margin: 10px;
	}

	.card .mdl-card__menu {
		margin: 4px;
	}

	#dashboard {
		display: flex;
		flex-direction: column;
	}

	#receipts {
		display: block;
	}

	.add-card {
		width: 100%;
	}

	footer {
		position: absolute;
		left: 0;
		bottom: 0;
		widows: 100%;
	}

	@media (max-width: 700px) {
		#content {
			display: flex;
			flex-direction: row;
			width: 100%;
		}

		#section {
			display: flex;
			flex-direction: column;
		}
	}
}
