header {
	position: relative;
	vertical-align: center;
	text-align: center;
	height: 80px;
	display: flex;
	background-color: #ffffff;

	.header {
		display: flex;
		width: 100%;
		margin: 20px;
		& > * {
			flex-grow: 0;
			align-self: center;
		}

		.brand {
			color: #facd60;
			display: block;
			font-size: 1.3rem;
			font-weight: bolder;
			text-decoration: none;
		}
		.center {
			flex-grow: 1;
		}

		.profileBtn {
			height: 40px;
		}
	}

	ul {
		text-align: center;
		li {
			display: inline-block;
		}
	}
}
