.Member {
	.card {
		display: inline-block;
		width: 60%;
		min-width: 300px;
		max-width: 500px;

		white-space: nowrap;
		text-overflow: ellipsis;

		ol {
			text-align: left;
			> li {
				&:hover {
					background: #f8f9fa;
				}
				> ol {
					> li {
						&:hover {
							background: #e9ecef;
						}
					}
				}
			}

			div {
				display: flex;
				p {
					margin: 0;
					&:first-child {
						flex-grow: 1;
					}
				}
			}
		}
	}
}
