.Receipt {
	.card {
		display: inline-block;
		width: 60%;
		min-width: 300px;
		max-width: 500px;

		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.mdl-list li {
		text-align: center;
		display: flex;
	}

	.action {
		display: inline-flex;
		width: 100%;
	}

	.action :nth-child(2) {
		flex-grow: 1;
	}

	.item-name {
		width: 100%;
		min-width: 30px;
	}

	table {
		width: 100%;
	}

	table .material-icons {
		font-size: 1rem;
	}
}
