.Receipt {
	color: '#fff';
	.card {
		background: white;
		border-radius: 30px;
		display: flex;
		flex-direction: column;
		width: 80%;
		min-width: 300px;
		max-width: 500px;
		height: 90vh;
		padding: 25px;
		box-sizing: border-box;
		.title {
			font-size: 1.7rem;
			font-weight: bolder;
			width: 70%;
			padding: 10px;
		}

		.receipt-table {
			width: 100%;
			th,
			td {
				.person {
					padding: 12px 10px 12px 10px;
					.count {
						font-size: 0.9rem;
						font-weight: bold;
					}
				}
				& > p {
					width: 100%;
				}

				&:nth-child(1) {
					width: 50%;
					text-align: left;
				}
				&:nth-child(2) {
					width: 50%;
					text-align: left;
				}
			}
		}

		.payer-table {
			width: 100%;
			th,
			td {
				& > p {
					width: 100%;
				}

				.person {
					padding: 12px 10px 12px 10px;
					.count {
						font-size: 0.9rem;
						font-weight: bold;
					}
				}

				&:nth-child(1) {
					width: 120px;
					text-align: left;
				}
				&:nth-child(2) {
					text-align: left;
				}
			}
		}

		.space {
			margin: auto;
		}

		.content {
			flex-grow: 1;
		}

		.actions {
			display: flex;
		}
	}
}
