.popup .card {
	display: inline-block;
	/* min-width: 60%; */
	width: 300px;
}
.content {
	padding: 16px;
}

input {
	width: 80px;
}

.mdl-list li {
	text-align: center;
	display: flex;
}

table {
	width: 100%;
}

.receipt-table tr > *:nth-child(1) {
	text-align: left;
}

.receipt-table tr > *:nth-child(2) {
	text-align: right;
}

.receipt-table tr > *:nth-child(3) {
	text-align: right;
}

.payer-table tr > *:nth-child(1) {
	text-align: left;
}

.payer-table tr > *:nth-child(2) {
	text-align: right;
}
