.EditableView {
	font-size: inherit;
	margin: 0px;
	width: inherit;

	input {
		outline: none;
		border: none;
		background: rgb(215, 215, 215);
		border-radius: 1rem;
		padding: 10px;
		transition: 0.3s;
		font-size: inherit;
		width: 100%;
	}
	input:focus {
		background: rgb(179, 179, 179);
	}

	p {
		font-size: inherit;
	}
}
