.EditableView {
	margin: 0px;
	padding: 0px;

	input {
		font-size: inherit;
		width: inherit;
		font-weight: inherit;
		font-family: inherit;

		outline: none;
		border: none;
		background: rgb(215, 215, 215);
		border-radius: 10px;
		padding: 3px 3px 3px 10px;
		transition: 0.3s;
		width: 100%;
		box-sizing: border-box;
	}
	input:focus {
		background: rgb(179, 179, 179);
	}

	p {
		font-size: inherit;
	}
}
