.ExpenditureCard {
	padding: 20px;
	margin: 10px;
	.title {
		color: #facd60;
		font-size: 1.2rem;
		font-weight: bold;
	}

	table {
		tbody {
			tr {
				background: #fff;
				transition-duration: 0.1s;
				cursor: pointer;
				&:hover {
					background: #f8f9fa;
				}
				&:active {
					background: #e9ecef;
				}
			}
		}
		tfoot {
			& > *:last-child {
				td {
					border: 0;
				}
			}
		}
	}
}
