.expenditure-item{
    display: flex;
    flex-direction: row;
}
.expenditure-item p{
    margin: 0;
}
.expenditure-item .name{
    font-size: 1.4rem;
}
.expenditure-item .price{
    display: flex;
    flex-direction: column;
}
.expenditure-item .price *{
    font-size:0.5rem;
}