.ExpenditureCard {
	padding: 20px;
	margin: 10px;
	min-width: 250px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
	.title {
		color: #facd60;
		font-size: 1.2rem;
		font-weight: bold;
	}

	table {
		font-weight: bold;
		width: 100%;
		border-spacing: 0px;
		color: rgb(81, 81, 81);

		td {
			padding: 6px 10px;
		}
		thead {
		}
		tbody {
			background-color: rgb(243, 243, 243);

			td {
				font-size: 0.875rem;
			}

			--radius: 12px;
			tr {
				&:first-child {
					td {
						&:first-child {
							border-top-left-radius: var(--radius);
						}
						&:last-child {
							border-top-right-radius: var(--radius);
						}
					}
				}
				&:last-child {
					td {
						&:first-child {
							border-bottom-left-radius: var(--radius);
						}
						&:last-child {
							border-bottom-right-radius: var(--radius);
						}
					}
				}
			}

			tr {
				transition-duration: 0.1s;
				cursor: pointer;
				&:hover {
					background: #bdbdbd;
				}
				&:active {
					background: #facd60;
				}
			}
		}
		tfoot {
			& > *:last-child {
				td {
					border: 0;
				}
			}
		}
	}
}
