.ReceiptCard {
	border: none !important;

	background-color: #fff;

	transition: 0.3s !important;
	border-radius: 30px !important;

	&.Mui-expanded {
		// background-color: #FFB14D;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	}
	&:before {
		background-color: transparent !important;
	}

	.MuiCardActionArea-root {
		border-radius: 0 0 30px 30px;
	}
	.summary {
		width: 100%;
		display: flex;
		.left {
			flex-grow: 1;

			.title {
				font-size: 1rem;
				font-weight: bold;
				margin: 0;
			}
			.date {
				font-size: 0.5rem;
				font-weight: bold;
				margin: 0;
			}
		}
		.price {
			align-self: center;
			margin: 0;
			font-weight: bold;
			flex-grow: 0;
		}
	}

	.table-wrapper {
		margin: 0px 20px 10px 20px;
	}
}
