.ReceiptCard {
	.title {
		font-size: 1rem;
		font-weight: bold;
	}

	.table-wrapper {
		margin: 10px;

		tbody,
		tfoot {
			background: #f8f9fa;
			border: 1px solid rgba(0, 0, 0, 0.12);
		}

		tbody {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}
		tfoot {
			& > *:last-child {
				td {
					border: 0;
				}
			}
		}
	}

	// &:hover {
	// 	color: inherit;
	// 	text-decoration: none;
	// }

	// .h5 {
	// 	margin: 0;
	// }

	// table {
	// 	/* border: 1px solid gray; */
	// 	width: 100%;
	// 	max-width: 100%;

	// 	thead {
	// 		font-size: 1.1rem;
	// 		font-weight: bold;
	// 		border-bottom: 1px solid gray;
	// 	}

	// 	td {
	// 		white-space: nowrap;
	// 		overflow: hidden;
	// 		font-size: 1rem;
	// 	}
	// }

	// table .line {
	// 	border-bottom: 1px solid gray;
	// }

	// table th:nth-child(1) {
	// 	width: 40%;
	// 	text-align: left;
	// }

	// table th:nth-child(2) {
	// 	width: 30%;
	// 	text-align: left;
	// }

	// table th:nth-child(3) {
	// 	width: 30%;
	// 	text-align: left;
	// }
}
