body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-size: 16px;
  margin: 0px;
}

.verticle{
  display: flex;
  flex-direction: column;
}

.horizontal{
  display: flex;
  flex-direction: row;
}

.center{
    align-items: center;
}

.titleText{
  font-size: 35px;
}

.subtitleText{
  font-size: 24px;
}

.nameText{
  font-size: 20px;
}

.priceBig{
  font-size: 10px;
}

.priceSmall{
  font-size: 8px;
}

.stretch{
  align-content: stretch;
}