body {
	margin: 0;
	font-family: 'NanumSquare', sans-serif !important;
	font-weight: bold;
	//font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.popup {
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;

	background-color: #0003;

	width: 100%;
	height: 100%;
	z-index: 10;
	text-align: center;
	vertical-align: middle;
	animation-duration: 0.3s;
	animation-name: popup-background;

	@keyframes popup-background {
		from {
			background-color: #0000;
		}
		to {
			background-color: #0003;
		}
	}
}

.tab-page {
	margin: 16px;
}
